@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
    .App{
        width: 100%;
        min-height: 100vh;
        display: block;
        justify-content: center;
        align-items: center;
        background-image: url(./assets/pexels-daniel-reche-3721941.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
 }
  



  